@charset "UTF-8";
header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgba(3, 3, 4, 0.4);
  z-index: 99; }
  header a {
    text-decoration: none;
    color: #fff; }

.logo, #primary, .social {
  align-self: center; }

.logo {
  line-height: 5rem;
  font-family: 'Great Vibes', cursive;
  font-size: 3rem; }

nav ul {
  list-style-type: none;
  display: none;
  margin: 0; }
  nav ul li {
    margin: 0;
    text-transform: uppercase;
    padding-right: 1rem;
    font-family: 'Alegreya SC', serif;
    font-size: 1.2rem; }
    nav ul li a:link {
      color: #fff; }
      nav ul li a:link:hover {
        text-decoration: none; }

.separate {
  color: #fff; }

[for="menu-toggle"] {
  color: #fff;
  cursor: pointer; }
  [for="menu-toggle"]:hover {
    text-decoration: underline; }

#menu-toggle {
  display: none; }
  #menu-toggle:checked + ul {
    display: flex; }

.social li {
  display: inline;
  list-style: none;
  padding-right: 0.7rem; }

#hero {
  min-height: 100vh;
  background: url(../assets/webp/hero.png.webp) no-repeat center center;
  box-shadow: inset 0 0 0 1000px rgba(69, 70, 53, 0.3);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #fff; }
  #hero h1 {
    font-size: 4rem;
    align-self: center;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.15em;
    text-align: center; }

.wave {
  height: 0.9rem;
  width: 20%;
  margin-left: auto;
  margin-right: auto; }

.bring {
  align-self: center;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.25em;
  width: 50%;
  text-align: center;
  line-height: 2.5rem; }

.menu {
  width: fit-content;
  align-self: center;
  font-weight: 700;
  letter-spacing: 0.25em;
  padding: 1rem;
  background-color: rgba(3, 3, 4, 0.3);
  border-radius: 5px;
  border: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif; }
  .menu:hover {
    background-color: rgba(3, 3, 4, 0.6); }

.separator {
  border: 0;
  height: 81px;
  width: 100%;
  position: relative;
  margin-bottom: -81px;
  text-align: center; }
  .separator img {
    width: 100%; }

.chef {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Alegreya', serif;
  font-size: 3rem;
  color: #555; }
  .chef img {
    margin: 0 2rem;
    border-radius: 50%; }

.name {
  border-top: #555 solid 1px;
  border-bottom: #555 solid 1px;
  padding: 1rem 0; }

.quote {
  position: relative;
  line-height: 5rem;
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  text-align: center;
  color: #c3b091;
  margin-top: 2rem;
  letter-spacing: 0.3rem; }
  .quote::before {
    content: "“";
    /* Real curly quotes */
    font-size: 8rem;
    color: #c3b091;
    position: absolute;
    left: 0;
    top: 0; }
  .quote::after {
    content: "”";
    /* Real curly quotes */
    font-size: 8rem;
    color: #c3b091;
    position: absolute;
    bottom: -5rem;
    right: -2px; }

#art {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  padding: 2em;
  position: relative; }
  #art .left, #art .right {
    width: 50%; }
  #art:before {
    content: url("../assets/webp/bun.webp");
    width: 6rem;
    height: 6rem;
    background: #fff;
    border-radius: 100%;
    position: absolute;
    top: -3rem;
    left: calc(50% - 3rem);
    line-height: 6rem;
    text-indent: 1.45rem;
    font-size: 3rem; }
  #art .left {
    padding: 0 2em; }
    #art .left h3 {
      font-family: 'Alegreya', serif;
      font-size: 4rem;
      font-weight: 600;
      letter-spacing: 0.5rem;
      color: #555;
      text-align: center;
      margin-bottom: 20px; }
    #art .left h4 {
      font-family: 'Alegreya', serif;
      font-size: 1.7rem;
      text-transform: uppercase;
      color: #c3b091;
      text-align: center;
      margin-top: 0; }
    #art .left p {
      font-family: 'Alegreya', serif;
      text-align: center;
      font-size: 2rem;
      color: #555; }
  #art .right {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    position: relative; }
    #art .right img {
      margin: 2%;
      width: 46%;
      object-fit: cover;
      outline: 5px solid #fff;
      outline-offset: -1rem;
      aspect-ratio: 1 / 1; }
    #art .right .cake-label {
      background: url(../assets/webp/label.png.webp) no-repeat center center;
      display: flex;
      justify-content: center;
      font-family: 'Alegreya', serif;
      align-content: center;
      align-items: center;
      text-align: center;
      font-size: 2em;
      color: #c3b091;
      text-transform: uppercase;
      height: 36%;
      width: 36%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      overflow: visible;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
      #art .right .cake-label p {
        margin: 0 10%; }

:root {
  --cs: 55px; }

#pancakes {
  min-height: 100vh;
  height: fit-content;
  background: url(../assets/webp/pancakes.png.webp) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative; }
  #pancakes .container {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: 10% 0;
    position: relative; }
    #pancakes .container .left {
      width: 40%;
      position: relative;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      clip-path: polygon(0 0, 100% 0, 100% 100%, calc(var(--cs)) 100%, 0 calc(100% - var(--cs))); }
      #pancakes .container .left::after {
        content: '';
        position: absolute;
        display: block;
        width: var(--cs);
        height: var(--cs);
        background-color: #fff;
        bottom: 0;
        left: 0; }
      #pancakes .container .left img {
        height: 100%;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        text-align: center;
        object-fit: cover; }
    #pancakes .container .right {
      width: 60%;
      padding: 2em;
      height: fit-content;
      overflow: hidden;
      background: #fff url(../assets/webp/windmill.webp) no-repeat bottom right; }
      #pancakes .container .right .ready40 {
        position: absolute;
        font-family: 'Alegreya', serif;
        height: 200px;
        width: 200px;
        top: -50px;
        right: -80px;
        background: #fff url(../assets/webp/ready40bg.webp) no-repeat center center;
        background-size: cover;
        text-align: center;
        font-size: 2em;
        color: #816130;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }
        #pancakes .container .right .ready40 .ready {
          text-transform: uppercase;
          font-size: 1.2em; }
        #pancakes .container .right .ready40 span {
          font-family: 'Alegreya', serif;
          font-size: 3em;
          color: #a17737; }
      #pancakes .container .right h3 {
        font-family: 'Alegreya', serif;
        font-size: 4rem;
        font-weight: 600;
        color: #555;
        text-align: left;
        margin-bottom: 20px; }
      #pancakes .container .right h4 {
        font-family: 'Alegreya', serif;
        font-size: 1.7rem;
        text-transform: uppercase;
        color: #c3b091;
        text-align: left;
        margin-top: 0; }
      #pancakes .container .right p {
        font-family: 'Alegreya', serif;
        text-align: center;
        font-size: 2rem;
        color: #555; }
      #pancakes .container .right .carousel {
        margin-bottom: 2em; }
        #pancakes .container .right .carousel .flickity-page-dots {
          display: none; }
        #pancakes .container .right .carousel .flickity-viewport .flickity-slider {
          display: flex;
          align-items: center; }
          #pancakes .container .right .carousel .flickity-viewport .flickity-slider .carousel-cell {
            width: 28%;
            height: 130px;
            margin-left: 10px;
            display: flex;
            align-items: center; }
            #pancakes .container .right .carousel .flickity-viewport .flickity-slider .carousel-cell img {
              height: 100%;
              aspect-ratio: 1/1;
              object-fit: cover;
              border-radius: 50%;
              padding: 0 2px;
              justify-self: center; }

#breakfast {
  min-height: 100vh;
  background: url(../assets/webp/breakfast.png.webp) no-repeat center center;
  box-shadow: inset 0 0 0 1000px rgba(69, 70, 53, 0.3);
  background-size: cover;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 5em; }
  #breakfast .left, #breakfast .right {
    width: 50%;
    text-align: center;
    font-family: 'Alegreya', serif; }
    #breakfast .left h3, #breakfast .right h3 {
      font-size: 3rem;
      font-weight: 800;
      letter-spacing: 0.5rem; }
  #breakfast .left {
    color: #fff; }
    #breakfast .left h3 {
      margin-top: 0; }
    #breakfast .left h4 {
      text-transform: uppercase;
      color: #c3b091;
      font-size: 1.5em; }
    #breakfast .left .menu-item {
      font-size: 2rem;
      font-weight: 800; }
    #breakfast .left .description {
      margin-top: 0;
      color: #ccc; }
    #breakfast .left .price {
      margin-top: 0;
      color: #c3b091;
      font-size: 3em;
      font-weight: bold; }
  #breakfast .right {
    color: #555;
    padding: 3em;
    clip-path: polygon(0 0, 100% 0, 100% 100%, calc(var(--cs)) 100%, 0 calc(100% - var(--cs)));
    outline: 5px dashed #555;
    outline-offset: -1rem;
    background: #f1f3e7;
    position: relative; }
    #breakfast .right::after {
      content: '';
      position: absolute;
      display: block;
      width: var(--cs);
      height: var(--cs);
      background-color: #fff;
      bottom: 0;
      left: 0; }
    #breakfast .right p {
      display: inline-block;
      font-size: 1.5em;
      width: 80%;
      margin-top: 1.5em;
      margin-left: auto;
      margin-right: auto; }
    #breakfast .right .morebreakfast {
      display: inline-block;
      border: #c3b091 solid 1px;
      padding: 1em 2em;
      margin-top: 4em;
      text-transform: uppercase;
      text-decoration: none;
      color: #c3b091;
      font-size: 1.5em;
      font-weight: bold; }
    #breakfast .right .container {
      display: flex;
      flex-direction: row;
      border-bottom: #555 0.5px solid;
      padding-bottom: 2em; }
      #breakfast .right .container div {
        width: 50%;
        font-size: 2em;
        font-weight: bold; }
      #breakfast .right .container .verticaldivider {
        font-weight: normal; }

#sandwitch {
  min-height: 100vh;
  background-color: bisque; }

footer {
  background-color: #fff;
  color: #555;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3em 0;
  align-items: center; }
  footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #555;
    align-items: center; }
    footer nav .logo {
      text-decoration: none;
      color: #555;
      margin: 0 1em; }
    footer nav ul {
      list-style-type: none;
      flex-direction: row;
      justify-content: space-around;
      padding: 0.5em 0;
      border-top: solid #555 1px;
      border-bottom: solid #555 1px; }
      footer nav ul .separate {
        color: #555; }
      footer nav ul li {
        margin: 0;
        text-transform: uppercase;
        padding-right: 1rem;
        padding-top: 1em;
        padding-bottom: 1em;
        font-family: 'Alegreya SC', serif;
        font-size: 1.2rem;
        color: #555; }
        footer nav ul li a:link {
          color: #555;
          text-decoration: none; }
          footer nav ul li a:link:hover {
            text-decoration: none; }

@media screen and (max-width: 1100px) {
  .social {
    display: none; }
  #art {
    flex-direction: column; }
    #art .left, #art .right {
      width: 100%;
      padding: 0; }
    #art .left {
      margin-bottom: 2em; }
    #art .cake-label p {
      font-size: 1.5rem; }
  #breakfast {
    flex-direction: column; }
    #breakfast .left, #breakfast .right {
      width: 100%;
      padding: 0; }
  .separator {
    display: none; }
  #pancakes .container .left {
    display: none; }
  #pancakes .container .right {
    width: 100%;
    margin: 2em 0; }
  footer {
    display: flex;
    flex-direction: row;
    margin: 3em 0; }
    footer nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: #555;
      align-items: center; }
      footer nav .logo {
        text-decoration: none;
        color: #555;
        margin: 0 1em; }
      footer nav ul {
        display: inline-block;
        margin: 0 2em;
        padding: 0;
        border-top: solid #555 1px;
        border-bottom: solid #555 1px; }
        footer nav ul .separate {
          display: none; }
        footer nav ul li {
          text-transform: uppercase;
          padding-right: 0;
          font-family: 'Alegreya SC', serif;
          font-size: 1.2rem;
          color: #555; }
          footer nav ul li a:link {
            color: #555;
            text-decoration: none; }
            footer nav ul li a:link:hover {
              text-decoration: none; }
      footer nav .right li {
        text-align: right; }
        footer nav .right li a:link {
          color: #555;
          text-decoration: none; }
          footer nav .right li a:link:hover {
            text-decoration: none; } }

@media screen and (max-width: 860px) {
  .ready40 {
    display: none; }
  footer .logo {
    display: none; } }

@media screen and (min-width: 860px) {
  [for="menu-toggle"] {
    display: none; }
  nav ul {
    display: flex;
    flex-direction: row; } }
