header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgba(3, 3, 4, 0.4);
  z-index: 99;
  a {
    text-decoration: none;
    color: #fff;
  }
}

.logo, #primary, .social {
  align-self: center;
}

.logo {
  line-height: 5rem;
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
}

nav {
  ul {
    list-style-type: none;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    li {
      margin: 0;
      text-transform: uppercase;
      padding-right: 1rem;
      font-family: 'Alegreya SC', serif;
      font-size: 1.2rem;
      a:link {
        color: #fff;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.separate {
  color: #fff;
}

[for="menu-toggle"] {
  color: #fff;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

#menu-toggle {
  display: none;
  &:checked + ul {
    display: flex;
  }
}

.social li {
  display: inline;
  list-style: none;
  padding-right: 0.7rem;
}

#hero {
  min-height: 100vh;
  background: url(../assets/webp/hero.png.webp) no-repeat center center;
  box-shadow: inset 0 0 0 1000px rgba(69, 70, 53, 0.3); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  // padding-top: 5rem;
  justify-content: space-evenly;
  color: #fff;
  h1 {
    font-size: 4rem;
    align-self: center;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.15em;
    text-align: center;
  }
}

.wave {
  height: 0.9rem;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.bring {
  align-self: center;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.25em;
  width: 50%;
  text-align: center;
  line-height: 2.5rem;
}

.menu {
  width: fit-content;
  align-self: center;
  // font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.25em;
  padding: 1rem;
  background-color: rgba(3, 3, 4, 0.3);
  border-radius: 5px;
  border: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  &:hover {
    background-color: rgba(3, 3, 4, 0.6);
  }
}

.separator {
  border: 0;
  height: 81px;
  width: 100%;
  position: relative;
  // top: 50%;
  margin-top: -35px;
  // margin-bottom: -40px;
  text-align: center;
  img {
    width: 100%;
  }
}

.chef {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Alegreya', serif;
  font-size: 3rem;
  color: #555;
  img {
    margin: 0 2rem;
    border-radius: 50%;
  }
}

.name {
  border-top: #555 solid 1px;
  border-bottom: #555 solid 1px;
  padding: 1rem 0;
}

.quote {
  position: relative;
  line-height: 5rem;
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  text-align: center;
  color: #c3b091;
  margin-top: 2rem;
  letter-spacing: 0.3rem;
  &::before {
    content: "“"; /* Real curly quotes */
    font-size: 8rem;
    color: #c3b091;
    position: absolute;
    left: 0;
    top: 0;
  }
  &::after {
    content: "”"; /* Real curly quotes */
    font-size: 8rem;
    color: #c3b091;
    position: absolute;
    bottom: -5rem;
    right: -2px;
  }
}

#art {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -35px;
  background-color: #fff;
  padding: 2em;
  .left, .right {
    width: 50%;
  }
  .left {
    padding: 0 2em;
    h3 {
      font-family: 'Alegreya', serif;
      font-size: 4rem;
      font-weight: 600;
      letter-spacing: 0.5rem;
      color: #555;
      text-align: center;
      margin-bottom: 20px;
    }
    h4 {
      font-family: 'Alegreya', serif;
      font-size: 1.7rem;
      text-transform: uppercase;
      color: #c3b091;
      text-align: center;
      margin-top: 0;
    }
    p {
      font-family: 'Alegreya', serif;
      text-align: center;
      font-size: 2rem;
      color: #555;
    }
  }
  .right {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    img {
      margin: 2%;
      width: 46%;
      // height: 46%;
      object-fit: cover;
      outline: 5px solid #fff;
      outline-offset: -1rem;
      aspect-ratio: 1 / 1;
    }
    .cake-label {
      background: url(../assets/webp/label.png.webp) no-repeat center center;
      display: flex;
      justify-content: center;
      font-family: 'Alegreya', serif;
      align-content: center;
      align-items: center;
      text-align: center;
      font-size: 2em;
      color: #c3b091;
      text-transform: uppercase;
      height: 36%;
      width: 36%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      overflow: visible;
      background-repeat:no-repeat;
      background-position:center;
      background-size:contain;
      p {
        margin: 0 10%;
      }
    }
  }
}

:root{
  --cs: 55px;
}

#pancakes {
  min-height: 100vh;
  height: fit-content;
  background: url(../assets/webp/pancakes.png.webp) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  .container {
    width: 70%;
    // height: 70%;
    display: flex;
    flex-direction: row;
    margin: 10% 0;
    background: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 100%, calc(var(--cs)) 100%, 0 calc(100% - var(--cs)));
    position: relative;
    overflow: hidden;
    .label {
      border: solid 1px #000;
      height: 200px;
      width: 200px;
      display: flex;
      background: #fff;
      // position: absolute;
      top: -100px;
      right: -100px;
      z-index: 3;
      overflow: visible;
      // visibility: visible;
      // clear: both;
      // text-overflow: ellipsis;
      overflow: visible;
      white-space: nowrap;
      .ready40 {
        background: url(../assets/webp/ready40bg.webp) no-repeat center center;
        background-size: cover;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        font-size: 2em;
        color: #816130;
        // text-transform: uppercase;
        overflow: visible;
        // position: static;
        // top: -50px;
        .ready {
          text-transform: uppercase;
          font-size: 1.2em;
        }
        span {
          font-family: 'Alegreya', serif;
          font-size: 3em;
          color: #a17737;
        }
      }
    }
    .left {
      width: 40%;
      position: relative;
      background-color: #ffffff;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // clip-path: polygon(0 0, 100% 0, 100% 100%, calc(var(--cs)) 100%, 0 calc(100% - var(--cs)));
      &::after {
        content: '';
        position: absolute;
        display: block;
        width: var(--cs);
        height: var(--cs);
        background-color: #fff;
        bottom: 0;
        left: 0;
      }
      img {
        height: 100%;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        align-content: center;
        align-items: center;
        text-align: center;
        justify-content: center;
        object-fit: cover;
      }
    }
    // .clearfix:before,
    // .clearfix:after {
    //     content: ".";    
    //     display: block;    
    //     height: 0;    
    //     overflow: hidden; 
    // }
    // .clearfix:after { clear: both; }
    // .clearfix { zoom: 1; } /* IE < 8 */
    .right {
      width: 60%;
      padding: 1em;
      // display: flex;
      height: fit-content;
      position: relative;
      background: url(../assets/webp/windmill.webp) no-repeat bottom right;
      // overflow: visible;
      h3 {
        font-family: 'Alegreya', serif;
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: 0.5rem;
        color: #555;
        text-align: center;
        margin-bottom: 20px;
      }
      h4 {
        font-family: 'Alegreya', serif;
        font-size: 1.7rem;
        text-transform: uppercase;
        color: #c3b091;
        text-align: center;
        margin-top: 0;
      }
      p {
        font-family: 'Alegreya', serif;
        text-align: center;
        font-size: 2rem;
        color: #555;
      }
      .carousel {
        margin-bottom: 2em;
        .flickity-page-dots {
          display: none;
        }
        .flickity-viewport {
          .flickity-slider {
            display: flex;
            align-items: center;
            .carousel-cell {
              width: 28%;
              height: 130px;
              margin-left: 10px;
              display: flex;
              align-items: center;
              img {
                height: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 50%;
                padding: 0 2px;
                justify-self: center;
              }
            }
          }
        }
      }
    }
  }
}

#breakfast {
  min-height: 100vh;
  background: url(../assets/webp/breakfast.png.webp) no-repeat center center;
  box-shadow: inset 0 0 0 1000px rgba(69, 70, 53, 0.3);  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: row;
  padding: 5em;
  .left, .right {
    width: 50%;
    text-align: center;
    font-family: 'Alegreya', serif;
    h3 {
      font-size: 3rem;
      font-weight: 800;
      letter-spacing: 0.5rem;
    }
  }
  .left {
    color: #fff;
    h3 {
      margin-top: 0;
    }
    h4 {
      text-transform: uppercase;
      color: #c3b091;
      font-size: 1.5em;
    }
    .menu-item {
      font-size: 2rem;
      font-weight: 800;
    }
    .description {
      margin-top: 0;
      color: #ccc;
    }
    .price {
      margin-top: 0;
      color: #c3b091;
      font-size: 3em;
      font-weight: bold;
    }
  }
  .right {
    color: #555;
    padding: 0 9em;
    background: url(../assets/webp/morning-escape-bg.webp) center center no-repeat;
    height: 100%;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
    .container {
      display: flex;
      flex-direction: row;
      div {
        width: 50%;
        font-size: 2em;
        font-weight: bold;
      }
    }
  }
}

#sandwitch {
  min-height: 100vh;
  background-color: bisque;
}

footer {
  background-color: #fff;
  color: #555;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3em 0;
  align-items: center;
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #555;
    align-items: center;
    .logo {
      text-decoration: none;
      color: #555;
      margin: 0 1em;
    }
    ul {
      list-style-type: none;
      // display: none;
      flex-direction: row;
      justify-content: space-around;
      padding: 1.3em 0;
      border-top: solid #555 1px;
      border-bottom: solid #555 1px;
      .separate {
        color: #555;
      }
      li {
        margin: 0;
        text-transform: uppercase;
        padding-right: 1rem;
        font-family: 'Alegreya SC', serif;
        font-size: 1.2rem;
        color: #555;
        a:link {
          color: #555;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .social {
    display: none;
  }
  footer {
    .logo {
      display: none;
    }
  }
  #art {
    flex-direction: column;
    .left, .right {
      width: 100%;
      padding: 0;
    }
    .left {
      margin-bottom: 2em;
    }
    .cake-label {
      p {
        font-size: 1.5rem;
      }
    }
  }
  #breakfast {
    flex-direction: column;
    .left, .right {
      width: 100%;
      padding: 0;
    }
  }
  .separator {
    display: none;
  }
  #pancakes {
    .container {
      .left {
        display: none;
      }
      .right {
        width: 100%;
        margin: 2em 0;
      }
    }
  }
}

@media screen and (min-width: 860px) {
  [for="menu-toggle"] {
    display: none;
  }
  nav ul {
    display: flex;
    flex-direction: row;
  }
}
