:root{
  --cs: 55px;
  font-family: 'Alegreya', serif;
}
section {
  min-height: 100vh;
}
header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgba(3, 3, 4, 0.4);
  z-index: 99;
  a {
    text-decoration: none;
    color: #fff;
  }
}
.logo, #primary, .social {
  align-self: center;
}
.logo {
  line-height: 3rem;
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  font-weight: normal;
}
nav {
  ul {
    list-style-type: none;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    li {
      margin: 0;
      text-transform: uppercase;
      padding-right: 1rem;
      font-size: 1.2rem;
      a:link {
        color: #fff;
        padding: 1em;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
.separate {
  color: #fff;
}
[for="menu-toggle"] {
  color: #fff;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  .label {
    display: none;
  }
}
#menu-toggle {
  display: none;
  &:checked + ul {
    display: flex;
  }
}
.social li {
  display: inline;
  list-style: none;
  padding-right: 0.7rem;
}
#hero {
  background: url(../assets/webp/hero.webp) no-repeat center center;
  box-shadow: inset 0 0 0 1000px rgba(69, 70, 53, 0.3); 
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #fff;
  h2 {
    font-size: 4rem;
    align-self: center;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.15em;
    text-align: center;
  }
  .wave {
    height: 0.9rem;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
  }
  .bring {
    align-self: center;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.25em;
    width: 50%;
    text-align: center;
    line-height: 2.5rem;
  }
  .menu {
    width: fit-content;
    align-self: center;
    font-weight: 700;
    letter-spacing: 0.25em;
    padding: 1rem;
    background-color: rgba(3, 3, 4, 0.3);
    border-radius: 5px;
    border: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    &:hover {
      background-color: rgba(3, 3, 4, 0.6);
    }
  }
}
#art {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  padding: 2em;
  position: relative;
  .left, .right {
    width: 50%;
  }
  &:before {
    content: url(../assets/webp/bun.webp); 
    width: 6rem;
    height: 6rem;
    background: #fff;
    border-radius: 100%;
    position: absolute;
    top: -3rem;
    left: calc(50% - 3rem);
    line-height: 6rem;
    text-indent: 1.45rem;
    font-size: 3rem;
  }
  .left {
    padding: 0 2em;
    h3 {
      font-size: 4rem;
      font-weight: 600;
      letter-spacing: 0.5rem;
      color: #555;
      text-align: center;
      margin-bottom: 20px;
    }
    h4 {
      font-size: 1.7rem;
      text-transform: uppercase;
      color: #c3b091;
      text-align: center;
      margin-top: 0;
    }
    p {
      text-align: center;
      font-size: 2rem;
      color: #555;
    }
    .chef {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      color: #555;
      img {
        margin: 0 2rem;
        border-radius: 50%;
      }
    }
    .name {
      border-top: #555 solid 1px;
      border-bottom: #555 solid 1px;
      padding: 1rem 0;
    }
    .quote {
      position: relative;
      line-height: 5rem;
      font-family: 'Great Vibes', cursive;
      font-size: 3rem;
      text-align: center;
      color: #8f816c;
      margin-top: 2rem;
      letter-spacing: 0.3rem;
      &::before {
        content: "“"; /* Real curly quotes */
        font-size: 8rem;
        color: #8f816c;
        position: absolute;
        left: 0;
        top: 0;
      }
      &::after {
        content: "”"; /* Real curly quotes */
        font-size: 8rem;
        color: #8f816c;
        position: absolute;
        bottom: -5rem;
        right: -2px;
      }
    }
  }
  .right {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    img {
      margin: 2%;
      width: 46%;
      object-fit: cover;
      outline: 5px solid #fff;
      outline-offset: -1rem;
      aspect-ratio: 1 / 1;
    }
    .cake-label {
      background: url(../assets/webp/label.webp) no-repeat center center;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      text-align: center;
      font-size: 2em;
      color: #c3b091;
      text-transform: uppercase;
      height: 36%;
      width: 36%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      overflow: visible;
      background-repeat:no-repeat;
      background-position:center;
      background-size:contain;
      p {
        margin: 0 10%;
      }
    }
  }
}
#pancakes {
  height: fit-content;
  background: url(../assets/webp/pancakes.webp) no-repeat center center; 
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  .container {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: 10% 0;
    position: relative;
    .left {
      width: 40%;
      position: relative;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      clip-path: polygon(0 0, 100% 0, 100% 100%, calc(var(--cs)) 100%, 0 calc(100% - var(--cs)));
      &::after {
        content: '';
        position: absolute;
        display: block;
        width: var(--cs);
        height: var(--cs);
        background-color: #fff;
        bottom: 0;
        left: 0;
      }
      img {
        height: 100%;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        text-align: center;
        object-fit: cover;
      }
    }
    .right {
      width: 60%;
      padding: 2em;
      height: fit-content;
      overflow: hidden;
      background: #fff url(../assets/webp/windmill.webp) no-repeat bottom right;
      .ready40 {
        position: absolute;
        height: 200px;
        width: 200px;
        top: -50px;
        right: -80px;
        background: #fff url(../assets/webp/ready40bg.webp) no-repeat center center;
        background-size: cover;
        text-align: center;
        font-size: 2em;
        color: #816130;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        .ready {
          text-transform: uppercase;
          font-size: 1.2em;
        }
        span {
          font-size: 3em;
          color: #a17737;
        }
      }
      h3 {
        font-size: 4rem;
        font-weight: 600;
        color: #555;
        text-align: left;
        margin-bottom: 20px;
      }
      h4 {
        font-size: 1.7rem;
        text-transform: uppercase;
        color: #c3b091;
        text-align: left;
        margin-top: 0;
      }
      p {
        text-align: center;
        font-size: 2rem;
        color: #555;
      }
      .carousel {
        margin-bottom: 2em;
        .flickity-page-dots {
          display: none;
        }
        .flickity-viewport {
          .flickity-slider {
            display: flex;
            align-items: center;
            .carousel-cell {
              width: 28%;
              height: 130px;
              margin-left: 10px;
              display: flex;
              align-items: center;
              img {
                height: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 50%;
                padding: 0 2px;
                justify-self: center;
              }
            }
          }
        }
      }
    }
  }
}

#breakfast {
  background: url(../assets/webp/breakfast.webp) no-repeat center center;
  box-shadow: inset 0 0 0 1000px rgba(69, 70, 53, 0.3);  
  background-size: cover;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 5em;
  .left, .right {
    width: 50%;
    text-align: center;
    h3 {
      font-size: 3rem;
      font-weight: 800;
      letter-spacing: 0.5rem;
    }
  }
  .left {
    color: #fff;
    h3 {
      margin-top: 0;
    }
    h4 {
      text-transform: uppercase;
      color: #c3b091;
      font-size: 1.5em;
    }
    .menu-item {
      font-size: 2rem;
      font-weight: 800;
    }
    .description {
      margin-top: 0;
      color: #ccc;
    }
    .price {
      margin-top: 0;
      color: #c3b091;
      font-size: 3em;
      font-weight: bold;
    }
  }
  .right {
    color: #555;
    padding: 3em;
    clip-path: polygon(0 0, 100% 0, 100% 100%, calc(var(--cs)) 100%, 0 calc(100% - var(--cs)));
    outline: 5px dashed #555;
    outline-offset: -1rem;
    background: #f1f3e7;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: var(--cs);
      height: var(--cs);
      background-color: #fff;
      bottom: 0;
      left: 0;
    }
    &::after {
      content: url(../assets/webp/wheat-big.webp);
      position: absolute;
      display: block;
      bottom: -20px;
      right: -40px;
      z-index: -1;
    }
    p {
      display: inline-block;
      font-size: 1.5em;
      width: 80%;
      margin-top: 1.5em;
      margin-left: auto;
      margin-right: auto;
    }
    .morebreakfast {
      display: inline-block;
      border: #c3b091 solid 1px;
      border-radius: 5px;
      padding: 1em 2em;
      margin-top: 4em;
      text-transform: uppercase;
      text-decoration: none;
      color: #8f816c;
      font-size: 1.5em;
      font-weight: bold;
      &:hover {
        background-color: rgba(69, 70, 53, 0.3);
        color: #eee;
      }
    }
    .container {
      display: flex;
      flex-direction: row;
      border-bottom: #555 0.5px dashed;
      padding-bottom: 2em;
      div {
        width: 50%;
        font-size: 2em;
        font-weight: bold;
      }
      .verticaldivider {
        font-weight: normal;
      }
    }
  }
}

#sandwitch {
  display: flex;
  flex-direction: column;
  text-align: center;
 .title {
    background: url(../assets/webp/jibarito-bg.webp) center top no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.7);
    margin-top: 0.5em;
    h3 {
      font-size: 4rem;
      font-weight: 600;
      color: #555;
      margin-top: 1em;
      margin-bottom: 0;
    }
    h4 {
      font-size: 1.7rem;
      text-transform: uppercase;
      color: #8f816c;
      margin-top: 0;
    }
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .left {
      width: 20vw;
      img {
        width: 25%;
        border-radius: 100%;
        object-fit: cover;
        aspect-ratio: 1 / 1;
        box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
      }
      h5 {
        font-size: 2em;
        color: #8f816c;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
      p {
        color: #555;
      }
      .snack {
        margin-bottom: 3em;
      }
    }
    .right {
      width: 60vw;
      display: flex;
      align-items: center;
      .wrapper {
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
        .image {
          position: relative;
          &::before {
            content: 'Full recipe';
            color: #c3b091;
            background-color: antiquewhite;
            outline: rgb(122, 73, 14) dashed 1px;
            outline-offset: -0.3em;
            width: 120px;
            text-transform: uppercase;
            position: absolute;
            display: block;
            padding: 1em;
            z-index: 2;
            bottom: -0.5em;
            left: -0.7em;
          }
          img {
            outline: #eee solid 0.7em;
            outline-offset: -0.6em;
            box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
            max-width: 100%;
          }
        }
      }
      .labels {
        width: 27%;
        margin-left: -27%;
        right: 0;
        z-index: 2;
        box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.8);
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        div {
          align-items: center;
          flex-grow: 1;
          width: 100%;
          h6 {
            color: #8f816c;
            font-size: 1.5em;
            margin: 1em auto;
          }
          .number {
            color: #555;
            font-size: 3em;
            font-weight: bold;
          }
          .fifty {
            color: rgb(122, 73, 14);
          }
          p {
            color: rgb(122, 73, 14);
            font-weight: bold;
            font-size: 1.3em;
          }
        }
        .first {
          border-bottom: #555 solid 1px;
        }
        .final {
          background: url(../assets/webp/ready40bg.webp) center center no-repeat;
          box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);
          background-size: cover;
        }
      }
    }
  }
}

footer {
  background-color: #fff;
  color: #555;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3em 0;
  align-items: center;
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #555;
    align-items: center;
    .logo {
      text-decoration: none;
      color: #555;
      margin: 0 1em;
    }
    ul {
      list-style-type: none;
      flex-direction: row;
      justify-content: space-around;
      padding: 0.5em 0;
      border-top: solid #555 1px;
      border-bottom: solid #555 1px;
      .separate {
        color: #555;
      }
      li {
        margin: 0;
        text-transform: uppercase;
        padding-right: 1rem;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 1.2rem;
        color: #555;
        a:link {
          color: #555;
          text-decoration: none;
          padding: 1em;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  #secondary {
    a {
      color: #555;
    }
  }
}

@media screen and (max-width: 1100px) {
  .social, .ready40 {
    display: none;
  }
  #art {
    flex-direction: column;
    .left, .right {
      width: 100%;
      padding: 0;
    }
    .left {
      margin-bottom: 2em;
      .chef {
        flex-direction: column;
      }
    }
    .cake-label {
      p {
        font-size: 1.5rem;
      }
    }
  }
  #breakfast {
    padding: 2em;
    padding-top: 4em;
    flex-direction: column;
    .left, .right {
      width: 100%;
      padding: 0;
    }
    .right {
      .morebreakfast {
        margin-top: 2em;
        margin-bottom: 4em;
      }
      .container {
        margin: 3em;
      }
      &::after {
        right: -20px;
      }
    }
  }
  .separator {
    display: none;
  }
  #pancakes {
    padding: 2em;
    .container {
      width: 100%;
      .left {
        display: none;
      }
      .right {
        width: 100%;
        margin: 2em 0;
      }
    }
  }
  #sandwitch {
    .container {
      .right {
        img {
          width: 55vw;
        }
      }
    }
  }
  footer {
    display: flex;
    flex-direction: row;
    margin: 3em 0;
    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: #555;
      align-items: center;
      .logo {
        text-decoration: none;
        color: #555;
        margin: 0 1em;
      }
      ul {
        display: inline-block;
        margin: 0 2em;
        padding: 0;
        border-top: solid #555 1px;
        border-bottom: solid #555 1px;
        .separate {
          display: none;
        }
        li {
          text-transform: uppercase;
          padding-right: 0;
          
          font-size: 1.2rem;
          color: #555;
          a:link {
            color: #555;
            text-decoration: none;
            &:hover {
              text-decoration: none;
            }
          }
          a {
            color: #555;
            padding: 1em;
          }
        }
      }
      .right {
        li {
          text-align: right;
          a:link {
            color: #555;
            text-decoration: none;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      #secondary {
        a {
          color: #555;
        }
      }
    }
  }
}
@media screen and (max-width: 860px) {
  .separate, .ready40 {
    display: none;
  }
  nav ul li {
    padding: 1em 0;
  }
  footer {
    .logo {
      display: none;
    }
    #secondary {
      nav ul li {
        color: #555;
      }
      a:link {
        color: #555;
      }
      a {
        color: #555;
      }
    }
  }
  #hero {
    padding-bottom: 3em;
  }
  #breakfast {
    .right {
      .container {
        margin: 2em;
      }
      h3 {
        font-size: 1.5rem;
        padding: 0 2rem;
      }
      &::after {
        right: -5px;
        overflow: hidden;
      }
    }
  }
  #sandwitch {
    padding: 2em;
    .container {
      flex-direction: column;
      .left {
        width: 100%;
      }
      .right {
        .wrapper {
          flex-direction: column;
          width: 100%;
          img {
            width: 85%;
          }
          .labels {
            .first {
              border: none;
            }
            flex-direction: row;
            background-color: #fff;
            margin: 2em 0;
            width: 100%;
            div {
              width: 33%;
            }
          }
        }
        width: 100%;
      }
    }
  }
}
@media screen and (min-width: 860px) {
  [for="menu-toggle"] {
    display: none;
  }
  nav ul {
    display: flex;
    flex-direction: row;
  }
}